<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickPost.Properties.Settings>
            <setting name="BalloonTipTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="IsUserSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuFont" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </QuickPost.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <QuickPost.Properties.Settings>
            <setting name="ChatPostMessageEndpoint" serializeAs="String">
                <value>https://slack.com/api/chat.postMessage</value>
            </setting>
            <setting name="CredTokenPrefix" serializeAs="String">
                <value>QuickPost/Tokens/</value>
            </setting>
            <setting name="CredWebhookPrefix" serializeAs="String">
                <value>QuickPost/Webhooks/</value>
            </setting>
            <setting name="IncomingWebhookRoot" serializeAs="String">
                <value>https://hooks.slack.com/services/</value>
            </setting>
        </QuickPost.Properties.Settings>
    </applicationSettings>
</configuration>