<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickPost.Properties.Settings>
            <setting name="ApiEndPoint" serializeAs="String">
                <value>https://slack.com/api/chat.postMessage</value>
            </setting>
            <setting name="BalloonTipTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PostItemsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSuccessMessage" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickPost.Properties.Settings>
    </userSettings>
</configuration>